/* root
-------------------- */

:root {
  --white: #f2f5f9;
  --gray: #364153;
  --black: #111729;
  --dark-black: #030617;
  --blue: #3662e3;
  --dark-blue: #1e2c51;
  --dark-blue-alpha: #4e80ee33;

  /* color map */
  --bg-color: var(--black);
  --bg-decoration-color: var(--dark-blue-alpha);
  --input-bg-color: var(--dark-black);
  --input-border-color: var(--blue);
  --input-placeholder-color: var(--gray);
  --button-bg-color: var(--blue);
  --button-text-color: var(--white);
  --qr-bg-color: var(--white);
  --qr-bg-circle-color: var(--dark-blue);

  /* font */
  --font-base: 'Outfit', inter, system-ui, avenir, helvetica, arial, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-base);
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
}
